
.jumbotron {
  padding-top: 6rem;
  background-color: rgba(92, 204, 64, 0.623);
}
#projects {
  background-color: #00cba9;
}
.jumbotron img{
  border: 5px solid rgba(92, 204, 64, 0.623);
}
.gallery-img{
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}